polkit.addRule(function(action, subject) {
    if (action.id == "org.hoodie.policykit.gamescope-session.pkexec.os-update" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
